 <section class="ui piled segment">
  <h2 class="ui center aligned"> Comments </h2>
  <div class="ui divided relaxed list">
   {{#each comments }}
           <div class="ui raised item">
           <div class="header">User: {{userName.firstName}}</div>
                {{comment}}
           </div>
   {{/each}}
  </div>

  </section>