 <section class="ui piled segment">
  <h2> Comments </h2>
  <div class="ui relaxed celled list">
   {{#each comments }}
   <div class="item">
   {{ comment}}
   </div>
   {{/each}}
  </div>
  </section>