<section class="ui segment">
 <div class="ui stackable equal width two column grid container">
  {{#each album.photos}}
  <div class="column">
   <div class="row">
    <div class="ui card">
     <div class="content">
      <div class="center aligned meta">
      <img src="{{img}}" height="200" width="200">
      <h2>
      {{title}}
       </h2>
       </div>
       <div class="center aligned meta">
             <a href="/dashboard/deletepicture?img={{img}}">
               <i class="bordered inverted red trash icon"></i>
             </a>
       </div>
      </div>
     </div>
    </div>
   </div>
{{/each}}
 </div>