{{> menu id="about"}}

<section class="ui inverted yellow center aligned segment">
 <section class="ui raised segment">
  <p>
    Welcome to my Book mark, storing web app. <br>
    My name is Daemon Macklin and if you'd like to get into contact with me reguarding the app please send an emial at:
    daemon1@live.ca 
    <br>
    Or check me out on <a href="https://github.com/Daemon-Macklin"> GitHub</a>
    <br> 
    Or post a comment down below!!
  </p>
 </section>
 <section class="ui inverted yellow left aligned raised segment">
  {{> commentsection}}
  {{> addComment}}
</section>
</section>