{{> menu id="dashboard"}}

<section class="ui inverted blue segment">
{{> listOfCollections}}
{{> addlinklist}}
</section>
<section class="ui inverted blue segment">
    {{> listOfPictures}}
    {{> addPictures}}
</section>

