{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
    <p> Welcome to SiteMark!! A handy web app that lets you store and share your favorite sites and links
        <br> Sign up or Log in...
    </p>
    <img src="../views/images/start.jpg">
</section>
