{{> welcomemenu }}
<section class="ui inverted yellow segment">
<section class="ui center aligned raised segment">
    <p> Welcome to SiteMark!! A handy web app that lets you store and share your favorite sites and links
        <br> Sign up or Log in...
    </p>
</section>
</section>
