{{> menu}}

<section class="ui inverted yellow center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Sitemark
  </h1>
   <section class="ui raised segment">
  	<p>
    	A small app to let you create bookmarks for those web pages you love but can't remember the whole url of.
    	<br>
    	That you can nicely and neatly arrange into categories for your convenience. 
  	</p>
   </section>
    <section class="ui raised segment">
    <img src="http://res.cloudinary.com/dman1924/image/upload/v1493674427/mg09pokpmgbhm6jbfxew.jpg" height="1000" width="1000">
    </section>
</section>