{{> menu}}

<section class="ui inverted blue center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Sitemark
  </h1>
   <section class="ui raised segment">
  	<p>
    	A small app to let you create bookmarks for those web pages you love but can't remember the whole url of.
    	<br>
    	That you can nicely and neatly arrange into categories for your convenience. 
  	</p>
   </section>
    <section class="ui raised segment">

    </section>
   	 <div class="ui raised segment">
   	  <h3>Links currently stored:</h3>
       <div class="ui massive blue label">
        {{ linkCount }}
       </div>
  	 </div> 
</section>