{{> menu id="view"}}

<section class="ui segment">
    <div class="ui stackable equal width two column grid container">
        {{#each publicLists}}
            <div class="column">
                <div class="row">
                    <section class="ui raised segment">
                        <h2 class="ui centered header">
                            {{title}}
                        </h2>
                        <h3 class="ui centered header">
                            Number of links: {{publicLists.length}}
                        </h3>
                        <a href="/linklist/{{id}}" class="ui icon ">
                            <i class="blue large tag icon"></i>
                        </a>
                    </section>
                </div>
            </div>
        {{/each}}
    </div>
</section>